Repository vrslev/chord-chart: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, clippy, prettier, rustfmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        language: system
        types_or: [python, pyi, pyproj]
        pass_filenames: false
        entry: ./chord-chart-py/.venv/bin/pyright

      - id: tsc
        name: tsc
        language: system
        types_or: [javascript, ts]
        pass_filenames: false
        entry: ./chord-chart-js/node_modules/.bin/tsc -p chord-chart-js/tsconfig.json --noEmit

      - id: clippy
        name: clippy
        language: system
        types: [rust]
        pass_filenames: false
        entry: cargo clippy

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.2
    hooks:
      - id: pyupgrade
        args: [--py37-plus, --keep-runtime-typing]

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        types_or: [javascript, ts, json, yaml]
        entry: ./chord-chart-js/node_modules/.bin/prettier --write --list-different --ignore-unknown

      - id: rustfmt
        name: rustfmt
        language: system
        types: [rust]
        pass_filenames: false
        entry: cargo fmt

Use clippy
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  chord-chart-js/package-lock.json
  chord-chart-js/package.json
  chord-chart/src/bar.rs
  chord-chart/src/bar_line.rs
  chord-chart/src/chart.rs
  chord-chart/src/chord.rs
  chord-chart/src/error.rs
  chord-chart/src/lib.rs
  chord-chart/src/note.rs
  pyrightconfig.json
Due: clippy, prettier, rustfmt

Update test and lint workflows
  .github/workflows/lint.yml
  .github/workflows/test-js.yml
  .github/workflows/test-python.yml
  .github/workflows/test-rust.yml
  .pre-commit-config.yaml
  chord-chart-js/package-lock.json
  chord-chart-js/package.json
  chord-chart-py/Makefile
  chord-chart-py/pyproject.toml
Due: prettier

u
  chord-chart-py/pyproject.toml
Due: none

Pin Cargo package versions
  chord-chart-js/Cargo.toml
  chord-chart-py/Cargo.toml
  chord-chart/Cargo.toml
Due: none

Add clean command to py package
  chord-chart-py/Makefile
Due: none

Run Rust tests on all packages
  .github/workflows/test-rust.yml
Due: prettier

Enrich py package
  LICENSE
  chord-chart-py/Makefile
  chord-chart-py/README.md
  chord-chart-py/pyproject.toml
  chord-chart-py/tests/test_build.py
  pyrightconfig.json
Due: prettier

Use readme in py package
  chord-chart-py/Cargo.toml
  chord-chart-py/pyproject.toml
Due: none

Update readmes
  README.md
  chord-chart-py/README.md
Due: none

Correct py readme
  chord-chart-py/README.md
Due: none

Rewrite main readme
  README.md
Due: none

Specify version text value instead of file in py project
  chord-chart-py/pyproject.toml
Due: none

Correct readme in py project
  chord-chart-py/README.md
Due: none

Add readme to js project
  chord-chart-js/README.md
  chord-chart-js/package-lock.json
  chord-chart-js/package.json
  chord-chart-js/readme.test.ts
Due: tsc, prettier

Fix py tests
  chord-chart-py/README.md
Due: none

Add release automation
  .github/check-version.py
  .github/workflows/release.yml
  Cargo.toml
  chord-chart-js/package.json
  chord-chart-py/Cargo.toml
  chord-chart/Cargo.toml
Due: prettier

Fix release workflow
  .github/workflows/release.yml
Due: prettier

Put tests in tests/ in js package
  chord-chart-js/tests/index.test.ts
  chord-chart-js/tests/readme.test.ts
Due: tsc, prettier

Add badges to readme
  README.md
Due: none

Run py tests on multiple versions
  .github/workflows/test-python.yml
  chord-chart-py/Makefile
Due: prettier

Fix cache key in py ci
  .github/workflows/test-python.yml
Due: prettier

Split type check from tests in py ci
  .github/workflows/test-python.yml
Due: prettier

Update readmes
  chord-chart-js/README.md
  chord-chart-js/tests/readme.test.ts
  chord-chart-py/README.md
Due: tsc, prettier

Update package-lock.json
  chord-chart-js/package-lock.json
Due: prettier

u
  .github/workflows/test-python.yml
Due: prettier

u
  .github/workflows/release.yml
  .github/workflows/test-python.yml
  chord-chart-py/pyproject.toml
Due: prettier

Stop supporting PyPy (#6)
  .github/workflows/release.yml
  .github/workflows/test-python.yml
  chord-chart-py/pyproject.toml
Due: prettier

Update CI
  .github/workflows/lint.yml
  .github/workflows/test-js.yml
  .github/workflows/test-python.yml
  .github/workflows/test-rust.yml
Due: prettier

Add `init` function to JS package to fix Chrome support
  Cargo.toml
  chord-chart-js/README.md
  chord-chart-js/index.ts
  chord-chart-js/package.json
  chord-chart-js/tests/index.test.ts
  chord-chart-js/tests/readme.test.ts
  chord-chart-js/vite.config.ts
Due: tsc, prettier
